<div class="item">
    <div>Vaga</div>
    <div class="input">
        <input type="text" name="name" value="">
    </div>
</div>

<div class="item">
    <div>Requisitos</div>
    <div class="input">
        <input type="text" name="requirements" value="">
    </div>
</div>

<div class="item">
    <div>Vagas disponíveis</div>
    <div class="input">
        <input type="number" name="available" value="">
    </div>
</div>